<template>
  <div id="app">
    <div class="slide">
      <Slide>
        <a id="home" href="#">
          <span>Manga List</span>
        </a>
        <a id="home" href="#">
          <span>Lastest Manga</span>
        </a>
        <a id="home" href="#">
          <span>Completed Manga</span>
        </a>
        <a id="home">
          <span><input class="form-control" type="text" placeholder="Search" aria-label="Search"/></span>
        </a>
      </Slide>
      <b-row></b-row>
      <div class="header">
        <div class="container-fluid">Manga Lesen</div>
      </div>
      <div class="contents">
        <mdb-container>
          <mdb-row>
            <mdb-card-group deck>
              <mdb-card>
                <mdb-view hover>
                  <a href="#!">
                    <mdb-card-image
                      src="https://mfiles.alphacoders.com/839/839812.png"
                      alt="Card image cap"
                      style="height: 350px"
                    ></mdb-card-image>
                    <mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
                  </a>
                </mdb-view>
                <mdb-card-body>
                  <mdb-card-title>Solo Leveling</mdb-card-title>
                </mdb-card-body>
              </mdb-card>
              <mdb-card>
                <mdb-view hover>
                  <a href="#!">
                    <mdb-card-image
                      src="https://mfiles.alphacoders.com/839/839812.png"
                      alt="Card image cap"
                      style="height: 350px"
                    ></mdb-card-image>
                    <mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
                  </a>
                </mdb-view>
                <mdb-card-body>
                  <mdb-card-title>Solo Leveling</mdb-card-title>
                </mdb-card-body>
              </mdb-card>
              <mdb-card>
                <mdb-view hover>
                  <a href="#!">
                    <mdb-card-image
                      src="https://mfiles.alphacoders.com/839/839812.png"
                      alt="Card image cap"
                      style="height: 350px"
                    ></mdb-card-image>
                    <mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
                  </a>
                </mdb-view>
                <mdb-card-body>
                  <mdb-card-title>Solo Leveling</mdb-card-title>
                </mdb-card-body>
              </mdb-card>
            </mdb-card-group>
          </mdb-row>
        </mdb-container>
        <mdb-container>
          <mdb-row>
            <mdb-card-group deck>
              <mdb-card>
                <mdb-view hover>
                  <a href="#!">
                    <mdb-card-image
                      src="https://mfiles.alphacoders.com/839/839812.png"
                      alt="Card image cap"
                      style="height: 350px"
                    ></mdb-card-image>
                    <mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
                  </a>
                </mdb-view>
                <mdb-card-body>
                  <mdb-card-title>Solo Leveling</mdb-card-title>
                </mdb-card-body>
              </mdb-card>
              <mdb-card>
                <mdb-view hover>
                  <a href="#!">
                    <mdb-card-image
                      src="https://mfiles.alphacoders.com/839/839812.png"
                      alt="Card image cap"
                      style="height: 350px"
                    ></mdb-card-image>
                    <mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
                  </a>
                </mdb-view>
                <mdb-card-body>
                  <mdb-card-title>Solo Leveling</mdb-card-title>
                </mdb-card-body>
              </mdb-card>
              <mdb-card>
                <mdb-view hover>
                  <a href="#!">
                    <mdb-card-image
                      src="https://mfiles.alphacoders.com/839/839812.png"
                      alt="Card image cap"
                      style="height: 350px"
                    ></mdb-card-image>
                    <mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
                  </a>
                </mdb-view>
                <mdb-card-body>
                  <mdb-card-title>Solo Leveling</mdb-card-title>
                </mdb-card-body>
              </mdb-card>
            </mdb-card-group>
          </mdb-row>
        </mdb-container>
        <mdb-container>
          <mdb-row>
            <mdb-card-group deck>
              <mdb-card>
                <mdb-view hover>
                  <a href="#!">
                    <mdb-card-image
                      src="https://mfiles.alphacoders.com/839/839812.png"
                      alt="Card image cap"
                      style="height: 350px"
                    ></mdb-card-image>
                    <mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
                  </a>
                </mdb-view>
                <mdb-card-body>
                  <mdb-card-title>Solo Leveling</mdb-card-title>
                </mdb-card-body>
              </mdb-card>
              <mdb-card>
                <mdb-view hover>
                  <a href="#!">
                    <mdb-card-image
                      src="https://mfiles.alphacoders.com/839/839812.png"
                      alt="Card image cap"
                      style="height: 350px"
                    ></mdb-card-image>
                    <mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
                  </a>
                </mdb-view>
                <mdb-card-body>
                  <mdb-card-title>Solo Leveling</mdb-card-title>
                </mdb-card-body>
              </mdb-card>
              <mdb-card>
                <mdb-view hover>
                  <a href="#!">
                    <mdb-card-image
                      src="https://mfiles.alphacoders.com/839/839812.png"
                      alt="Card image cap"
                      style="height: 350px"
                    ></mdb-card-image>
                    <mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
                  </a>
                </mdb-view>
                <mdb-card-body>
                  <mdb-card-title>Solo Leveling</mdb-card-title>
                </mdb-card-body>
              </mdb-card>
            </mdb-card-group>
          </mdb-row>
        </mdb-container>
        <div class="pagecenter">
          <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#">1</a>
            <a href="http://localhost:8080/#/page2">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Slide } from "vue-burger-menu";
import carousel from "vue-owl-carousel";
import {
  mdbContainer,
  mdbRow,
  mdbCol,
  mdbCard,
  mdbCardImage,
  mdbCardHeader,
  mdbCardBody,
  mdbCardTitle,
  mdbCardText,
  mdbCardFooter,
  mdbCardUp,
  mdbCardAvatar,
  mdbCardGroup,
  mdbBtn,
  mdbView,
  mdbMask,
  mdbIcon
} from "mdbvue";
export default {
  components: {
    Slide,
    carousel,
    mdbContainer,
    mdbRow,
    mdbCol,
    mdbContainer,
    mdbCard,
    mdbCardImage,
    mdbCardHeader,
    mdbCardBody,
    mdbCardTitle,
    mdbCardText,
    mdbCardFooter,
    mdbCardUp,
    mdbCardAvatar,
    mdbCardGroup,
    mdbBtn,
    mdbView,
    mdbMask,
    mdbIcon
  }
};
</script>
<style scoped>
.container-fluid {
  text-align: center;
  font-weight: bold;
  font-size: 80px;
  color: cadetblue;
  font-style: italic;
  background-color: #f5f5f5;
}
.bm-burger-button {
    cursor: pointer;
    height: 30px;
    left: 36px;
    position: absolute;
    top: 36px;
    width: 36px;
}
.contents {
  background-color: #f5f5f5;
  margin-left: 320px;
  margin-right: 320px;
  margin-top: 50px;
  margin-bottom: 320px;
  height: 1600px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.slide {
  background: cadetblue;
}
.col-md-4 {
  -ms-flex: 0 0 33.333333%;
  -webkit-box-flex: 0;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  margin-top: 20px;
}
.card-deck {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 40px;
}
/* Pagination links */
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: 25px;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.pagecenter {
  margin-top: 120px;
  margin-left: 450px;
}
</style>
