<template>
  <main>
       <div class="header">
      <div class="container-fluid">Manga Lesen Page 2</div>  
    </div>
    <!--Fix-->
    <nav>
        <ul>
        <br>
           <b-container class="bv-example-row">
        <b-row class="smooth-scroll list-unstyled">
          <b-col>
             
            <li><a href="#contentActionscroll" v-smooth-scroll>Action</a></li>
          </b-col>
          <b-col>
            <li><a href="#contentRomancescroll" v-smooth-scroll>Romance</a></li>
          </b-col>
          <b-col>
            <li><a href="#contentDoujinshiscroll" v-smooth-scroll>Doujinshi</a></li>
          </b-col>
          <b-col>
            <li><a href="#contentHentaiscroll" v-smooth-scroll>Hentai</a></li>
            </b-col>
           </b-row>
         </b-container>
        </ul>
      </nav>
      
    <!--Fix-->    
      <div class="contentAction">
          <div id="contentActionscroll">
         <b-container>
             <br>
             <h2>Action</h2>
             <b-row>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             </b-row>
             <b-row>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             </b-row>
             <b-row>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             </b-row>
             <b-row>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             </b-row>
              <b-row>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             </b-row>
              <b-row>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-action">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             </b-row>
             
         </b-container>
          </div>
      </div>
      <!--Romance-->
      <div class="contentRomance">
          <div id="contentRomancescroll">
         <b-container>
             <br>
             <h2>Romance</h2>
             <b-row>
             <div class="card-romance">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-romance">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-romance">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
            <div class="card-romance">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
            <div class="card-romance">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             </b-row>
             <b-row>
             <div class="card-romance">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-romance">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-romance">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-romance">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-romance">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             </b-row>
             <b-row>
             <div class="card-romance">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-romance">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-romance">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-romance">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-romance">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             </b-row>
             <b-row>
             <div class="card-romance">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-romance">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
            <div class="card-romance">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-romance">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-romance">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             </b-row>
         </b-container>
          </div>
      </div>
      <!--Doujinshi-->
      <div class="contentDoujinshi">
          <div id="contentDoujinshiscroll">
         <b-container>
             <br>
             <h2>Doujinshi</h2>
             <b-row>
             <div class="card-doujinshi">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
            <div class="card-doujinshi">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-doujinshi">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-doujinshi">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-doujinshi">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             </b-row>
              <b-row>
             <div class="card-doujinshi">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
            <div class="card-doujinshi">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-doujinshi">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-doujinshi">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-doujinshi">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             </b-row>
              <b-row>
             <div class="card-doujinshi">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
            <div class="card-doujinshi">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-doujinshi">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-doujinshi">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-doujinshi">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             </b-row>
            <b-row>
             <div class="card-doujinshi">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
            <div class="card-doujinshi">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-doujinshi">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-doujinshi">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-doujinshi">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             </b-row>
         </b-container>
         </div>
      </div>
       <!--Hentai-->
      <div class="contentHentai">
          <div id="contentHentaiscroll">
         <b-container>
             <br>
             <h2>Hentai</h2>
             <b-row>
             <div class="card-hentai">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-hentai">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-hentai">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-hentai">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-hentai">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             </b-row>
              <b-row>
             <div class="card-hentai">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-hentai">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-hentai">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-hentai">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-hentai">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             </b-row>
              <b-row>
             <div class="card-hentai">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-hentai">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-hentai">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-hentai">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-hentai">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             </b-row>
             <b-row>
             <div class="card-hentai">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-hentai">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-hentai">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-hentai">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             <div class="card-hentai">
                 <img src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="" width="210" height="210">
             </div>
             </b-row>
         </b-container>
          </div>
         <div class="goToTop">
        <go-top></go-top>
      </div>
      <div class="prepareFooter">
         <br>
      </div>
       <div class="footer">
          <br>
           <div class="textFooter">
              Footer 
           </div>
           <div id="div-id"></div>
        </div>
      </div>   
  </main>
</template>
<script>

import { Slide } from "vue-burger-menu";
import carousel from "vue-owl-carousel";
import GoTop from '@inotom/vue-go-top';
import {
  mdbContainer,
  mdbRow,
  mdbCol,
  mdbCard,
  mdbCardImage,
  mdbCardHeader,
  mdbCardBody,
  mdbCardTitle,
  mdbCardText,
  mdbCardFooter,
  mdbCardUp,
  mdbCardAvatar,
  mdbCardGroup,
  mdbBtn,
  mdbView,
  mdbMask,
  mdbIcon,
  mdbCarousel,
  mdbBtnFixed,
  mdbBtnFixedItem ,
  mdbSmooth 
} from "mdbvue";
export default {
  components: {
    Slide,
    carousel,
    mdbContainer,
    mdbRow,
    mdbCol,
    mdbContainer,
    mdbCard,
    mdbCardImage,
    mdbCardHeader,
    mdbCardBody,
    mdbCardTitle,
    mdbCardText,
    mdbCardFooter,
    mdbCardUp,
    mdbCardAvatar,
    mdbCardGroup,
    mdbBtn,
    mdbView,
    mdbMask,
    mdbIcon,
    mdbCarousel,
    mdbBtnFixed ,
    GoTop,
  },
  directives: {
      mdbSmooth
    }
};

</script>

<style scoped>
.container-fluid  {
  text-align: center;
  font-weight: bold;
  font-size: 80px;
  color: #f5f5f5;
  font-style: italic;
  background-color: #f5f5f5;
  background-image: url("https://i1.wp.com/geekimpulse.us/wp-content/uploads/2018/05/53822.jpg?fit=1500%2C500&ssl=1");
}
.headerAction
{
    height: 80px;
    font-size: 20px;
}
nav{
    width: 100%;
    height: 50px;
    background: rgba(255, 165, 0, .8);
    border-top: 1px solid rgba(255, 165, 0, .2);
    border-bottom: 1px solid rgba(255, 165, 0, .2);
    color: #424242;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    position: sticky;
    top: 0;
}
nav ul{
    display: flex;
    margin: 0;
    padding: 0 100px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    display: block;
    color: #37474f;
    padding: 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
.contentAction {
    background-color: #e0f2f1;
}
.contentRomance {
    background-color: #e0f2f1;
}
.contentDoujinshi {
    background-color: #e0f2f1;
}
.contentHentai {
    background-color: #e0f2f1;
}
.card-action{
    padding: 5px;
}
.card-romance{
    padding: 5px;
}
.card-doujinshi{
    padding: 5px;
}
.card-hentai{
    padding: 5px;
}
h2{
   text-align: left;
   font-size: 30px;
   margin-top: 30px;
   font-family:'Times New Roman', Times, serif;
}
.goToTop {
    position: fixed;
    bottom: 0;
    z-index: 5;
    text-align: right;
    width: 95%;
}
.prepareFooter
{
  height: 250px;
}
.footer
{
  background-color: #37474f;
  height: 80px;
}
.textFooter
{
  color: #f5f5f5;
  font-size: 20px;
}
hr.solid {
  border-top: 3px solid #bbb;
}

</style>
