<template>
  <div id="app">
    <div class="header">
      <div class="container-fluid">Manga Lesen Page 2</div>
    </div>
    <div class="banner" style="height: 350px"></div>
    <div class="listmanga">
      <b-container class="bv-example-row">
        <b-row>
          <b-col>
            <a href="http://localhost:8080/#/pageAction">Action</a>
          </b-col>
          <b-col>
            <a href>Romance</a>
          </b-col>
          <b-col>
            <a href>Doujinshi</a>
          </b-col>
          <b-col>
            <a href>Hentai</a>
          </b-col>
        </b-row>
      </b-container>

      <b-container class="imageslide">
        <div class="action">Lastest Action Manga Update</div>
         <hr class="solid" />
        <carousel :autoplay="true" :nav="false">
          <img src="https://avatarfiles.alphacoders.com/122/122465.jpg" />

          <img src="https://avatarfiles.alphacoders.com/122/122465.jpg" />

          <img src="https://avatarfiles.alphacoders.com/122/122465.jpg" />

          <img src="https://avatarfiles.alphacoders.com/122/122465.jpg" />

          <img src="https://avatarfiles.alphacoders.com/122/122465.jpg" />

          <img src="https://avatarfiles.alphacoders.com/122/122465.jpg" />

          <img src="https://avatarfiles.alphacoders.com/122/122465.jpg" />
        </carousel>
      </b-container>
      <div class="listaction">
        <div class="headerAction">
          <b-row>
            <b-col>
              <a href>
                <h1>Action</h1>
                
              </a>
              <div class="card_list">
                  <mdb-container>
                    <hr class="solid" />
		<mdb-row>
			<mdb-card-group deck>
				<mdb-card>
					<mdb-view hover>
						<a href="#!">
							<mdb-card-image src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="Card image cap" style=""></mdb-card-image>
							<mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
                            
						</a>
					</mdb-view>
					<mdb-card-body>
						<mdb-card-title>Solo Leveling</mdb-card-title>
					</mdb-card-body>
				</mdb-card>
				<mdb-card>
					<mdb-view hover>
						<a href="#!">
							<mdb-card-image src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="Card image cap"></mdb-card-image>
							<mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
						</a>
					</mdb-view>
					<mdb-card-body>
						<mdb-card-title>Solo Leveling</mdb-card-title>
					</mdb-card-body>
				</mdb-card>
				<mdb-card>
					<mdb-view hover>
						<a href="#!">
							<mdb-card-image src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="Card image cap"></mdb-card-image>
							<mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
						</a>
					</mdb-view>
					<mdb-card-body>
						<mdb-card-title>Solo Leveling</mdb-card-title>
					</mdb-card-body>
				</mdb-card>
			</mdb-card-group>
		</mdb-row>
	</mdb-container>
    
              </div>
              <div class="card_list2">
                  <mdb-container>
		<mdb-row>
			<mdb-card-group deck>
				<mdb-card>
					<mdb-view hover>
						<a href="#!">
							<mdb-card-image src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="Card image cap" style=""></mdb-card-image>
							<mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
                            
						</a>
					</mdb-view>
					<mdb-card-body>
						<mdb-card-title>Solo Leveling</mdb-card-title>
					</mdb-card-body>
				</mdb-card>
				<mdb-card>
					<mdb-view hover>
						<a href="#!">
							<mdb-card-image src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="Card image cap"></mdb-card-image>
							<mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
						</a>
					</mdb-view>
					<mdb-card-body>
						<mdb-card-title>Solo Leveling</mdb-card-title>
					</mdb-card-body>
				</mdb-card>
				<mdb-card>
					<mdb-view hover>
						<a href="#!">
							<mdb-card-image src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="Card image cap"></mdb-card-image>
							<mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
						</a>
					</mdb-view>
					<mdb-card-body>
						<mdb-card-title>Solo Leveling</mdb-card-title>
					</mdb-card-body>
				</mdb-card>
			</mdb-card-group>
		</mdb-row>
	</mdb-container>
    
    
              </div>
            </b-col>
          </b-row>
        </div>
      </div>
     
     <!--Romance-->
     
    <div class="listromance">
        <div class="headerRomance">
          <b-row>
            <b-col>
              <a href>
                <h1>Romance </h1>
                
              </a>
              <div class="card_list">
                  <mdb-container>
                    <hr class="solid" />
		<mdb-row>
			<mdb-card-group deck>
				<mdb-card>
					<mdb-view hover>
						<a href="#!">
							<mdb-card-image src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="Card image cap" style=""></mdb-card-image>
							<mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
                            
						</a>
					</mdb-view>
					<mdb-card-body>
						<mdb-card-title>Solo Leveling</mdb-card-title>
					</mdb-card-body>
				</mdb-card>
				<mdb-card>
					<mdb-view hover>
						<a href="#!">
							<mdb-card-image src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="Card image cap"></mdb-card-image>
							<mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
						</a>
					</mdb-view>
					<mdb-card-body>
						<mdb-card-title>Solo Leveling</mdb-card-title>
					</mdb-card-body>
				</mdb-card>
				<mdb-card>
					<mdb-view hover>
						<a href="#!">
							<mdb-card-image src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="Card image cap"></mdb-card-image>
							<mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
						</a>
					</mdb-view>
					<mdb-card-body>
						<mdb-card-title>Solo Leveling</mdb-card-title>
					</mdb-card-body>
				</mdb-card>
			</mdb-card-group>
		</mdb-row>
	</mdb-container>
    
              </div>
              <div class="card_list2">
                  <mdb-container>
		<mdb-row>
			<mdb-card-group deck>
				<mdb-card>
					<mdb-view hover>
						<a href="#!">
							<mdb-card-image src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="Card image cap" style=""></mdb-card-image>
							<mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
                            
						</a>
					</mdb-view>
					<mdb-card-body>
						<mdb-card-title>Solo Leveling</mdb-card-title>
					</mdb-card-body>
				</mdb-card>
				<mdb-card>
					<mdb-view hover>
						<a href="#!">
							<mdb-card-image src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="Card image cap"></mdb-card-image>
							<mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
						</a>
					</mdb-view>
					<mdb-card-body>
						<mdb-card-title>Solo Leveling</mdb-card-title>
					</mdb-card-body>
				</mdb-card>
				<mdb-card>
					<mdb-view hover>
						<a href="#!">
							<mdb-card-image src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="Card image cap"></mdb-card-image>
							<mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
						</a>
					</mdb-view>
					<mdb-card-body>
						<mdb-card-title>Solo Leveling</mdb-card-title>
					</mdb-card-body>
				</mdb-card>
			</mdb-card-group>
		</mdb-row>
	</mdb-container>
     
              </div>
            </b-col>
          </b-row>
        </div>
      </div>
         <!--Doujinshi-->
     
    <div class="listdoujinshi">
        <div class="headerDoujinshi">
          <b-row>
            <b-col>
              <a href>
                <h1>Doujinshi </h1>
                
              </a>
              <div class="card_list">
                  <mdb-container>
                    <hr class="solid" />
		<mdb-row>
			<mdb-card-group deck>
				<mdb-card>
					<mdb-view hover>
						<a href="#!">
							<mdb-card-image src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="Card image cap" style=""></mdb-card-image>
							<mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
                            
						</a>
					</mdb-view>
					<mdb-card-body>
						<mdb-card-title>Solo Leveling</mdb-card-title>
					</mdb-card-body>
				</mdb-card>
				<mdb-card>
					<mdb-view hover>
						<a href="#!">
							<mdb-card-image src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="Card image cap"></mdb-card-image>
							<mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
						</a>
					</mdb-view>
					<mdb-card-body>
						<mdb-card-title>Solo Leveling</mdb-card-title>
					</mdb-card-body>
				</mdb-card>
				<mdb-card>
					<mdb-view hover>
						<a href="#!">
							<mdb-card-image src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="Card image cap"></mdb-card-image>
							<mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
						</a>
					</mdb-view>
					<mdb-card-body>
						<mdb-card-title>Solo Leveling</mdb-card-title>
					</mdb-card-body>
				</mdb-card>
			</mdb-card-group>
		</mdb-row>
	</mdb-container>
    
              </div>
              <div class="card_list2">
                  <mdb-container>
		<mdb-row>
			<mdb-card-group deck>
				<mdb-card>
					<mdb-view hover>
						<a href="#!">
							<mdb-card-image src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="Card image cap" style=""></mdb-card-image>
							<mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
                            
						</a>
					</mdb-view>
					<mdb-card-body>
						<mdb-card-title>Solo Leveling</mdb-card-title>
					</mdb-card-body>
				</mdb-card>
				<mdb-card>
					<mdb-view hover>
						<a href="#!">
							<mdb-card-image src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="Card image cap"></mdb-card-image>
							<mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
						</a>
					</mdb-view>
					<mdb-card-body>
						<mdb-card-title>Solo Leveling</mdb-card-title>
					</mdb-card-body>
				</mdb-card>
				<mdb-card>
					<mdb-view hover>
						<a href="#!">
							<mdb-card-image src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="Card image cap"></mdb-card-image>
							<mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
						</a>
					</mdb-view>
					<mdb-card-body>
						<mdb-card-title>Solo Leveling</mdb-card-title>
					</mdb-card-body>
				</mdb-card>
			</mdb-card-group>
		</mdb-row>
	</mdb-container>
     
              </div>
            </b-col>
          </b-row>
        </div>
      </div>
         <!--Doujinshi-->
     
    <div class="listhentai">
        <div class="headerHentai">
          <b-row>
            <b-col>
              <a href>
                <h1>Hentai </h1>
                
              </a>
              <div class="card_list">
                  <mdb-container>
                    <hr class="solid" />
		<mdb-row>
			<mdb-card-group deck>
				<mdb-card>
					<mdb-view hover>
						<a href="#!">
							<mdb-card-image src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="Card image cap" style=""></mdb-card-image>
							<mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
                            
						</a>
					</mdb-view>
					<mdb-card-body>
						<mdb-card-title>Solo Leveling</mdb-card-title>
					</mdb-card-body>
				</mdb-card>
				<mdb-card>
					<mdb-view hover>
						<a href="#!">
							<mdb-card-image src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="Card image cap"></mdb-card-image>
							<mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
						</a>
					</mdb-view>
					<mdb-card-body>
						<mdb-card-title>Solo Leveling</mdb-card-title>
					</mdb-card-body>
				</mdb-card>
				<mdb-card>
					<mdb-view hover>
						<a href="#!">
							<mdb-card-image src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="Card image cap"></mdb-card-image>
							<mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
						</a>
					</mdb-view>
					<mdb-card-body>
						<mdb-card-title>Solo Leveling</mdb-card-title>
					</mdb-card-body>
				</mdb-card>
			</mdb-card-group>
		</mdb-row>
	</mdb-container>
    
              </div>
              <div class="card_list2">
                  <mdb-container>
		<mdb-row>
			<mdb-card-group deck>
				<mdb-card>
					<mdb-view hover>
						<a href="#!">
							<mdb-card-image src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="Card image cap" style=""></mdb-card-image>
							<mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
                            
						</a>
					</mdb-view>
					<mdb-card-body>
						<mdb-card-title>Solo Leveling</mdb-card-title>
					</mdb-card-body>
				</mdb-card>
				<mdb-card>
					<mdb-view hover>
						<a href="#!">
							<mdb-card-image src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="Card image cap"></mdb-card-image>
							<mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
						</a>
					</mdb-view>
					<mdb-card-body>
						<mdb-card-title>Solo Leveling</mdb-card-title>
					</mdb-card-body>
				</mdb-card>
				<mdb-card>
					<mdb-view hover>
						<a href="#!">
							<mdb-card-image src="https://i2.wp.com/playpost.gg/wp-content/uploads/2019/11/playpost-solo-leveling.jpg?fit=1024%2C683&ssl=1" alt="Card image cap"></mdb-card-image>
							<mdb-mask flex-center waves overlay="white-slight"></mdb-mask>
						</a>
					</mdb-view>
					<mdb-card-body>
						<mdb-card-title>Solo Leveling</mdb-card-title>
					</mdb-card-body>
				</mdb-card>
			</mdb-card-group>
		</mdb-row>
	</mdb-container>
     
              </div>
            </b-col>
          </b-row>
        </div>
      </div>
      <div class="goToTop">
        <go-top></go-top>
      </div>
        <div class="footer">
          <br>
           <div class="textFooter">
              Footer 
           </div>
        </div>
    </div>
  </div>
</template>

<script>
import { Slide } from "vue-burger-menu";
import carousel from "vue-owl-carousel";
import GoTop from '@inotom/vue-go-top';
import {
  mdbContainer,
  mdbRow,
  mdbCol,
  mdbCard,
  mdbCardImage,
  mdbCardHeader,
  mdbCardBody,
  mdbCardTitle,
  mdbCardText,
  mdbCardFooter,
  mdbCardUp,
  mdbCardAvatar,
  mdbCardGroup,
  mdbBtn,
  mdbView,
  mdbMask,
  mdbIcon,
  mdbCarousel,
  mdbBtnFixed,
  mdbBtnFixedItem  
} from "mdbvue";
export default {
  components: {
    Slide,
    carousel,
    mdbContainer,
    mdbRow,
    mdbCol,
    mdbContainer,
    mdbCard,
    mdbCardImage,
    mdbCardHeader,
    mdbCardBody,
    mdbCardTitle,
    mdbCardText,
    mdbCardFooter,
    mdbCardUp,
    mdbCardAvatar,
    mdbCardGroup,
    mdbBtn,
    mdbView,
    mdbMask,
    mdbIcon,
    mdbCarousel,
    mdbBtnFixed ,
    GoTop
  },
};
</script>
<style scoped>
.container-fluid {
  text-align: center;
  font-weight: bold;
  font-size: 80px;
  color: #424242;
  font-style: italic;
  background-color: #f5f5f5;
}
.bm-burger-button {
  cursor: pointer;
  height: 30px;
  left: 36px;
  position: absolute;
  top: 36px;
  width: 36px;
}
.contents {
  background-color: #f5f5f5;
  margin-left: 320px;
  margin-right: 320px;
  margin-top: 50px;
  margin-bottom: 320px;
  height: 1600px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.slide {
  background: cadetblue;
}
.col-md-4 {
  -ms-flex: 0 0 33.333333%;
  -webkit-box-flex: 0;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  margin-top: 20px;
}
.card-deck {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 40px;
}
/* Pagination links */
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  font-size: 25px;
}

/* Style the active/current link */
.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.pagecenter {
  margin-top: 120px;
  margin-left: 450px;
}
.banner {
  background-color: #b2dfdb;
  color: whitesmoke;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  background-image: url("https://i1.wp.com/geekimpulse.us/wp-content/uploads/2018/05/53822.jpg?fit=1500%2C500&ssl=1");
  background-size: cover;
}
.listmanga {
  background-color: #f5f5f5;
  font-size: 20px;
  height: 70px;
}
.col {
  margin-top: 20px;
}
a {
  color: #424242;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  padding: 10px;
  padding-left: 20px;
  margin-top: 20px;
}
.action {
  margin-top: 50px;
  font-size: 30px;
  font-weight: bold;
  color: #424242;
}
hr.solid {
  border-top: 3px solid #bbb;
  margin-left: 10px;
  margin-right: 10px;
}
.listaction {
  background-color: #f5f5f5;
  height: 800px;
  margin-top: 50px;
}
.listromance {
  background-color: #f5f5f5;
  height: 800px;
}
.listdoujinshi {
  background-color: #f5f5f5;
  height: 800px;
}
.listhentai {
  background-color: #f5f5f5;
  height: 1000px;
}
.headerDoujinshi {
}
.headerAction {
  margin-top: 50px;
}
.headerRomance {
}
h1
{
  font-weight: bold;
}
h2
{
 
}
h3,
h4,
h5,
h6 {
  font-weight: bold;
  color: #424242;
  margin-top: 10px;
 
}
.card_list {
  
}
.card-deck
{
    
}
.card-body
{
    padding: 5px;
}
.goToTop {
    position: fixed;
    bottom: 0;
    z-index: 5;
    text-align: right;
    width: 95%;
}
.footer
{
  background-color: #37474f;
  height: 80px;
}
.textFooter
{
  color: #f5f5f5;
  font-size: 20px;
}
</style>
