<template>
  <div id="app">
    
    <router-view/>
  </div>
</template>
<script>
export default {
  name: 'App'
}
</script>
<style>
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
#app {
  
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
html {
    height: 100%;
    background: #e0f2f1;
}
</style>
